@charset "UTF-8";
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

body, html {
  font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
  box-sizing: border-box;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.03);
  color: #555; }

@media (max-width: 479px) {
  .hide-mobile {
    display: none !important; }
  .show-mobile {
    display: inherit !important; } }

@media (min-width: 480px) {
  .hide-not-mobile {
    display: none !important; }
  .show-not-mobile {
    display: inherit !important; } }

.content-center {
  margin: 0 10%; }
  .content-center.narrow {
    margin: 0 20%; }

@media (max-width: 479px) {
  .content-center {
    margin: 0; }
    .content-center.narrow {
      margin: 0; }
  .mdl-grid {
    padding: 0;
    width: 100%; }
  .mdl-cell {
    margin: 5px 0; } }

@media (min-width: 480px) {
  .mdl-layout__drawer,
  .mdl-layout__header {
    position: absolute;
    top: -64px; }
  .mdl-layout__drawer-button {
    display: none; } }

@media (max-width: 479px) {
  .mdl-layout__header-row {
    position: absolute;
    top: -40px;
    width: 100%; } }

header.mdl-layout__header.custom {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);
  color: #555;
  box-shadow: none; }
  header.mdl-layout__header.custom .mdl-layout-title {
    font-family: serif; }
  header.mdl-layout__header.custom .mdl-navigation__link {
    color: #555;
    text-align: center;
    height: 50px; }
    header.mdl-layout__header.custom .mdl-navigation__link:after {
      border-top: 1px solid #aaa;
      content: "";
      width: 50px;
      height: 3px;
      display: inherit;
      border-bottom: 1px solid #aaa;
      margin-top: -10px; }
    header.mdl-layout__header.custom .mdl-navigation__link:hover {
      color: #E91E63;
      -webkit-transition: color 0.5s ease;
              transition: color 0.5s ease; }
      header.mdl-layout__header.custom .mdl-navigation__link:hover:after {
        border-color: #E91E63;
        -webkit-transition: border-color 0.5s;
                transition: border-color 0.5s; }
  header.mdl-layout__header.custom .mdl-layout__header-row a {
    color: #555;
    text-decoration: none; }
  header.mdl-layout__header.custom .mdl-layout__drawer-button {
    background-color: transparent; }
  header.mdl-layout__header.custom .mdl-layout__drawer-button i {
    color: #555; }
    header.mdl-layout__header.custom .mdl-layout__drawer-button i:hover {
      color: #E91E63;
      -webkit-transition: color 0.5s ease;
              transition: color 0.5s ease; }

@media (min-width: 480px) {
  header.mdl-layout__header.custom {
    min-height: 45px;
    height: 45px; }
    header.mdl-layout__header.custom .mdl-layout__header-row {
      height: 45px; }
    header.mdl-layout__header.custom .mdl-navigation.hide-mobile {
      height: 40px;
      min-height: 40px; }
    header.mdl-layout__header.custom .mdl-navigation__link {
      line-height: 45px; } }

@media (max-width: 479px) {
  .mdl-layout-title {
    text-align: center;
    width: calc(100% - 48px); }
  .mdl-layout__header-row,
  .mdl-layout__drawer-button,
  .mdl-layout__header {
    height: 40px !important;
    min-height: 40px !important;
    font-size: 0.5rem; }
  .mdl-layout-title {
    font-size: 1.2rem; } }

.bigbox {
  background-image: url("../images/sample_cava.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .bigbox .overall {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: black;
    opacity: 1.0; }
  .bigbox .bigbox-inner {
    max-width: 80%;
    text-align: center;
    display: none; }
  .bigbox .title {
    color: #000000;
    color: rgba(0, 0, 0, 0.7);
    font-family: serif;
    letter-spacing: 5px;
    font-weight: bold;
    display: inline-block; }
    .bigbox .title:after {
      border-top: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      display: block;
      content: "";
      height: 4px;
      margin-top: 5px; }
  .bigbox .desc {
    margin-top: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: #000000;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0; }

.bigbox-mobile {
  text-align: center;
  padding: 0 0 16px 0;
  background-color: #fff; }
  .bigbox-mobile .icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px; }
  .bigbox-mobile .bigbox-mobile--inner {
    display: inline-block;
    height: 80px;
    position: relative;
    vertical-align: bottom;
    width: calc(63% - 100px); }
    .bigbox-mobile .bigbox-mobile--inner .title {
      font-size: 20px;
      margin: 0;
      font-family: serif;
      position: absolute;
      top: 14%; }
      .bigbox-mobile .bigbox-mobile--inner .title:after {
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
        display: block;
        content: "";
        height: 2px;
        margin-top: 4px; }
    .bigbox-mobile .bigbox-mobile--inner .desc {
      position: absolute;
      top: 63%;
      left: 0; }

.mdl-card.card {
  width: 100%;
  margin-bottom: 1px; }
  .mdl-card.card .card-wrapper {
    margin-bottom: 15px; }
  .mdl-card.card .mdl-card__media {
    background-position: center center;
    background-image: url("https://www.getmdl.io/templates/blog/images/road.jpg");
    position: relative; }
    @media (max-width: 479px) {
      .mdl-card.card .mdl-card__media {
        height: 150px !important; } }
    @media (min-width: 480px) {
      .mdl-card.card .mdl-card__media {
        height: 200px !important; } }
    .mdl-card.card .mdl-card__media .title {
      font-size: 20px;
      font-size: 1.3rem;
      color: #FFFFFF;
      color: rgba(255, 255, 255, 0.88);
      word-break: break-all;
      line-height: 32px;
      line-height: 2rem;
      position: absolute;
      bottom: 2%;
      left: 2%;
      right: 2%; }
  .mdl-card.card .mdl-card__supporting-text .mini_meta {
    display: block;
    margin-bottom: 3px; }
    .mdl-card.card .mdl-card__supporting-text .mini_meta i.material-icons {
      font-size: 16px;
      font-size: 1rem;
      vertical-align: text-bottom;
      margin-right: 4px; }
  .mdl-card.card .mdl-card__supporting-text .sns-counts {
    float: right; }
  .mdl-card.card .mdl-card__supporting-text .sns-count {
    border: 1px solid;
    padding: 2px 0 2px 2px;
    width: 10px;
    font-size: 11px;
    font-size: 0.7rem;
    height: 10px;
    text-align: center;
    line-height: 11px;
    line-height: 0.7rem;
    vertical-align: baseline; }
    .mdl-card.card .mdl-card__supporting-text .sns-count:after {
      content: '23';
      color: white;
      padding: 2px;
      margin-left: 4px; }
    .mdl-card.card .mdl-card__supporting-text .sns-count.hatebu {
      color: #4BA5DA;
      border-color: #4BA5DA; }
      .mdl-card.card .mdl-card__supporting-text .sns-count.hatebu:after {
        background-color: #4BA5DA; }
    .mdl-card.card .mdl-card__supporting-text .sns-count.facebook {
      color: #337FCE;
      border-color: #337FCE; }
      .mdl-card.card .mdl-card__supporting-text .sns-count.facebook:after {
        background-color: #337FCE; }
    .mdl-card.card .mdl-card__supporting-text .sns-count.pocket {
      color: #ED4055;
      border-color: #ED4055; }
      .mdl-card.card .mdl-card__supporting-text .sns-count.pocket:after {
        background-color: #ED4055; }

@media (max-width: 479px) {
  .cards [class*='mdl-cell--'] {
    width: 100% !important; }
    .cards [class*='mdl-cell--'] .mdl-card.card {
      width: 100%; } }

.tag {
  display: inline-block;
  margin: 2px;
  background-color: #eee; }
  .tag.tag--sm {
    padding: 0px 4px;
    font-size: 12px;
    font-size: 0.8rem; }
  .tag.tag--transparent-white {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.83);
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.83); }
    .tag.tag--transparent-white:hover {
      background-color: #FFFFFF;
      background-color: rgba(255, 255, 255, 0.83);
      color: #000000;
      color: rgba(0, 0, 0, 0.83);
      -webkit-transition: background-color 0.5s, color 0.5s;
              transition: background-color 0.5s, color 0.5s; }
