// reset
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
// basic
body, html {
    font-family: YuGothic, sans-serif;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.03);
    color: #555;
}

// variables
$width-not-wide: "(max-width:699px)";
$width-not-tablet: "(min-width: 550px)";
$width-tablet: "(max-width: 549px)";
$width-mobile: "(max-width: 449px)";

// utility

@media #{$width-tablet}{
  .hide-mobile{ display: none !important; }
  .show-mobile{ display: inherit !important; }
}

@media #{$width-not-tablet}{
  .hide-not-mobile{ display: none !important; }
  .show-not-mobile{ display: inherit !important; }
}

@media #{$width-not-wide}{
  .hide-not-wide{ display: none !important; }
  .show-not-wide{ display: inherit !important; }
}

// animation
// @keyframes ripple{
//   from {
//     opacity:1;
//   }
//   to {
//     transform: scale(2);
//     opacity:0;
//   }
// }


// layout

.content-center {
  margin: 0 12%;
  &.narrow {
    max-width: 700px;
    margin: 0 auto;
  }
}
.content-center-mobile {
  margin: 0 8%;
}

.mdl-layout {
    perspective: 1000px;
    perspective-origin: top;
}

.mdl-layout__drawer {
  .mdl-navigation {
    padding-top: 0px;
    margin-bottom: 12px;
  }
  .mdl-tabs__tab {
    font-size: 0.7rem;
    text-transform: none;
    padding: 0 20px;
  }
  .drawer--section-title {
      font-size: 0.8rem;
      padding: 8px 16px;
  }
}


// mobileではヨコいっぱいに広がる
@media #{$width-mobile} {
  .content-center {
    margin: 0;
    &.narrow {
      margin: 0;
    }
  }
  .mdl-grid {
    padding: 0;
    width: 100%;
  }
  .mdl-cell {
    margin:5px 0;
  }
}

@media #{$width-not-tablet} {
  .index {
    // .mdl-layout__drawer,
    .mdl-layout__header{
      position: absolute;
      top:-64px;
    }
    .mdl-layout__drawer-button {
      display: none;
    }
  }
}

@media #{$width-tablet}{
  .index {
    .mdl-layout__header-row {
     position: absolute;
     top: -40px;
     width: 100%;
   }
  }
}

header.mdl-layout__header.custom {
    background-color: rgba(255,255,255,0.85);
    color: #555;
    box-shadow: none;
    .mdl-layout-title {
        font-family: serif;
    }
    .mdl-navigation__link {
        color: #555;
        text-align: center;
        height: 50px;
        &:after {
            border-top: 1px solid #aaa;
            content: "";
            width: 50px;
            height: 3px;
            display: inherit;
            border-bottom: 1px solid #aaa;
            margin-top: -10px;
        }
        &:hover {
            color: #E91E63;
            transition: color 0.5s ease;
            &::after {
                border-color: #E91E63;
                transition: border-color 0.5s;
            }
        }
    }
    .mdl-layout__header-row a {
      color: #555;
      text-decoration: none;
    }
    .mdl-layout__drawer-button {
      background-color: transparent;
    }
    .mdl-layout__drawer-button i {
        color: #555;
        &:hover {
            color: #E91E63;
            transition: color 0.5s ease;
        }
    }
}

@media #{$width-not-tablet} {
  .index header.mdl-layout__header.custom {
      min-height: 45px;
      height: 45px;
      .mdl-layout__header-row {
          height: 45px;
      }
      .mdl-navigation.hide-mobile {
          height: 40px;
          min-height: 40px;
      }
      .mdl-navigation__link {
          line-height: 45px;
      }
      .mdl-layout-title.left_align {
          margin-left: -40px;
      }
  }
}

@media #{$width-tablet}{
  .index {
    .mdl-layout-title {
      text-align: center;
      width: calc(100% - 48px);
    }
    .mdl-layout__header-row,
    .mdl-layout__drawer-button,
    .mdl-layout__header {
        height: 40px !important;
        min-height: 40px !important;
        font-size: 0.5rem;
    }
    .mdl-layout-title {
      font-size: 1.2rem;
    }
  }
}

footer {
    margin-top: 32px;
    position: relative;
    .copyright {
        position: absolute;
        bottom: 8px;
        left: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.6;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}


// bigbox
.bigbox{
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('http://farm6.static.flickr.com/5082/5334850250_802d0bc1f2_b.jpg') center / cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center; // 子要素のヨコ揃え
  align-items: center; // 子要素のタテ揃え

  .overall {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: rgb(0,0,0);
    opacity: 1.0;
  }

  .bigbox-inner {
    max-width: 80%;
    text-align: center;
    display: none;
  }

  .title {
      color: rgba(255,255,255,0.7);
      font-family: serif;
      letter-spacing: 5px;
      font-weight: bold;
      display: inline-block;
      &:after {
          border-top: 2px solid rgba(255,255,255,0.4);
          border-bottom: 2px solid rgba(255,255,255,0.4);
          display: block;
          content: "";
          height: 4px;
          margin-top: 5px;
      }
  }
  .desc {
      margin-top: 10px;
      font-size: 1.2rem;
      color: rgba(255,255,255,0.7);
      opacity:0;
  }
}

.bigbox-mobile {
    text-align: center;
    padding: 0 0 16px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    .icon {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
    .bigbox-mobile--inner {
        display: inline-block;
        height: 80px;
        .title {
            font-size: 20px;
            margin: 0;
            font-family: serif;
            margin: 9% 0 5% 0;
            &:after {
                border-top: 1px solid #555;
                border-bottom: 1px solid #555;
                display: block;
                content: "";
                height: 2px;
                margin-top: 4px;
            }
        }
        &.show {
          width: 80%;
          height: inherit;
          .tags {
            margin: 10px 0 0;
            padding: 0;
            display: flex;
          }
          .title {
              font-size: 20px;
              margin: 0;
              font-family: serif;
              position: inherit;
              &:after {
                  border-top: 1px solid #555;
                  border-bottom: 1px solid #555;
                  display: block;
                  content: "";
                  height: 2px;
                  margin-top: 4px;
              }
          }
        }
    }
}


// card
.mdl-card.card {
  width: 100%;
  margin-bottom: 1px;
  .card-wrapper{
    margin-bottom: 15px;
  }
  .mdl-card__media {
    background-position: center center;
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('https://www.getmdl.io/templates/blog/images/road.jpg') center / cover;
    @media #{$width-tablet}{ height: 150px !important; }
    @media #{$width-not-tablet}{ height: 200px !important; }
    position: relative;
    .title {
        font-size: 1.3rem;
        color: rgba(255,255,255,0.88);
        word-break: break-all;
        line-height: 2rem;
        position: absolute;
        bottom: 2%;
        left: 2%;
        right: 2%;
        letter-spacing: 2px;
    }
  }
  .mdl-card__supporting-text {
    .mini_meta {
      display: block;
      margin-bottom: 3px;
      i.material-icons {
         font-size: 1rem;
         vertical-align: text-bottom;
         margin-right: 4px;
      }

    }
    .sns-counts {
      float: right;
    }
    .sns-count {
      border: 1px solid;
      padding: 4px 0 4px 4px;
      width: 10px;
      font-size: 0.7rem;
      height: 10px;
      text-align: center;
      line-height: 0.7rem;
      vertical-align: baseline;
      &:after {
        content: '23';
        color: white;
        padding: 4px;
        margin-left: 6px;
      }
      &.hatebu {
        color: #4BA5DA;
        border-color:#4BA5DA;
        &:after {
          background-color: #4BA5DA;
        }
      }
      &.facebook {
        color: #337FCE;
        border-color:#337FCE;
        &:after {
          background-color: #337FCE;
        }
      }
      &.pocket {
        color: #ED4055;
        border-color:#ED4055;
        &:after {
          background-color: #ED4055;
        }
      }
    }
  }
}

@media #{$width-tablet}{
  .cards {
    [class*='mdl-cell--']{
      width: 100% !important;
      .mdl-card.card {
        width: 100%;
      }
    }
  }
}

// tag
.tag {
    display: inline-block;
    margin: 2px;
    background-color: #eee;
    text-decoration: none;
    font-family: YuGothic;
    &.tag--sm {
        padding: 0px 4px;
        font-size: 0.8rem;
    }
    &.tag--md {
        padding: 4px 8px;
        font-size: 1rem;
    }
    &.tag--transparent-white {
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.83);
        color: rgba(255,255,255,0.83);
        &:hover {
            background-color: rgba(255,255,255,0.83);
            color: rgba(0,0,0,0.83);
            transition: background-color 0.5s, color 0.5s;
        }
        &.tag--no-hover:hover {
          background-color: inherit;
          color: inherit;
          transition: none;
        }
    }
    &.tag--transparent-black {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.83);
      color: rgba(0, 0, 0, 0.83);
      &:hover {
          background-color: rgba(0,0,0,0.83);
          color: rgba(255,255,255,0.83);
          transition: background-color 0.5s, color 0.5s;
      }
    }
    &.tag--no-border {
        border: none;
    }
}
//
// .point {
//   opacity: 0;
//   position: absolute;;
//   border: 10px solid rgba(200,200,200,0.5);
//   border-radius: 50%;
//   &.is_show {
//     animation: ripple 0.2s;
//   }
// }


// menu 詳細
.menu-container-bottom {
    background-color: rgba(255, 255, 255, 0.85); // headerと同色
    position: absolute;
    top: 45px;
    width: 100%;
    transform: rotateX(-90deg);
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: top;
    backface-visibility: hidden;
    z-index: 100;
    opacity: 0;
    &.show {
        transform: rotateX(0deg);
        opacity: 1;
        transition: all 0.5s;
    }
    .menu-container-bottom--right {
        padding: 2px 16px 16px;
        box-sizing: border-box;
    }
    .search {
      margin-bottom: 16px;
    }
    .mdl-tabs__panel {
        padding: 16px 32px;
    }
}

.search {
  display: block;
  .search-icon {
    right: 0;
  }
  .mdl-textfield {
    width: 100%;
  }
}

.with-image {
  a.mdl-navigation__link {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('/images/sample_cava.jpg') center / cover;
    padding: 32px 16px !important;
    color: #fff !important;
    &:hover {
      opacity: 0.9;
      transition: all 0.2s;
    }
  }
}


// pager
.pager-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: 16px auto;
    .page-item {
        width: 30px;
        height: 30px;
        background-color: #555;
        text-align: center;
        color: white;
        line-height: 30px;
        border-radius: 50%;
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
        transition: box-shadow 0.2s;
        &:hover {
            box-shadow: 0 3px 4.5px 0 rgba(0,0,0,.12),0 3px 3px 0 rgba(0,0,0,.24);
            transition: all 0.2s;
        }
    }
}

// page別スタイル
// show stype
.mdl-layout.show {
  header.custom {
      background-color: transparent;
      position: absolute;
      left:-80px;
      bottom: 0;
      min-height: 45px;

      .mdl-layout__drawer-button {
          margin: -16px 0 0 24px;
          height: 40px;
          width: 40px;
          line-height: 44px;

          border-radius: 50%;
          background-color: rgba(0,0,0,0.6) !important;
          box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
          transition: box-shadow 0.3s;

          .material-icons {
              color: rgba(255,255,255,0.6) !important;
          }

          &:hover {
              box-shadow: 0 6px 8px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
              .material-icons {
                 color: #fff !important;
                 transition: all 0.3s;
             }
          }
      }
  }
  .mdl-layout__drawer {
    .sns-buttons {
        display: flex;
        padding: 0 16px;
        margin-bottom: 16px;
        .sns-button {
            margin-right: 8px;
        }
    }
    .mdl-textfield.thin {
        padding: 8px 0;
        .mdl-button {
            bottom: 8px;
        }
        .mdl-textfield__label {
            top: 12px;
            &:after {
              bottom: 8px;;
            }
        }
    }
  }

  // bigbox
  .bigbox{
    position: relative;
    display: block;
    .bigbox-inner {
      display: block;
      position: absolute;
      bottom: 0;
      max-width: calc(100% - 32px);
      padding: 32px 24px;
      text-align: left;
    }

    .title {
        color: rgb(255,255,255);
        font-family: YuGothic;
        letter-spacing: 1px;
        font-weight: bold;
        &:after {
            display: none;
        }
    }
    .tags {
      padding-left: 0;
      margin: 16px 0 0 -5px;
    }
    .date {
      color: rgba(255, 255, 255, 0.83);
      font-family: monospace;
      letter-spacing: 1px;
      font-size: 0.6rem !important;
    }
  }

  @media #{$width-mobile}{
    .tags {
      margin-left: -6px;
    }
  }
  @media #{$width-tablet}{
    .title {
      font-size: 1.3rem;
    }
  }
  @media #{$width-not-tablet}{
    .bigbox .title {
      font-size: 2rem;
      max-width: 70%;
    }
    .bigbox-inner .bigbox-inner {
      bottom: 50px !important;
    }
  }

  .related{
    width: 100%;
    & > .mdl-cell {
      width: 100%;
      margin: 8px 0;
    }
    .mdl-card {
      min-height: inherit;
      max-height: 120px;
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
    .mdl-card__media {
        padding: 8px 24px;
        position: relative;
        .mdl-card__media--inner {
            position: absolute;
            bottom: 7px;
            width: calc(100% - 48px);
        }
        .title {
            margin-bottom: 4px;
            position: relative;
            bottom:0;
            left:0;
        }
        .tags {
            margin-left: -6px;
        }
    }
    .desc {
      margin: 16px 0;
    }
  }
}

// snsボタン
.sns-buttons {
    float: right;
}
.sns-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    line-height: 30px;
    text-align: center;
    color: white;
    transition: color 0.3s;
    &:hover {
        color: #E43873;
        transition: all 0.3s;
    }
    &.black {
        color: rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.5);
    }
}
.bigbox-inner-upper {
    .site-logo {
        float: left;
        .logo {
            color: white;
            border-bottom: 2px solid white;
            padding-bottom: 8px;
            font-size: 1rem;
        }
    }
}
@media #{$width-tablet}{
  .bigbox-inner-upper {
    padding: 32px 24px;
  }
}
@media #{$width-not-tablet}{
  .bigbox-inner-upper {
    padding: 32px 16px 0;
  }
}
@media (min-width: 900px){
  .bigbox-inner,
  .bigbox-inner-upper {
    margin: 0 12%;
  }
}



// 汎用パーツ
.splitter {
    color: white;
    color: rgba(255,255,255,0.83);
    font-size: 0.7rem;
    padding: 0 8px;
}
.desc {
    color: rgb(255,255,255);
    opacity:1;
    margin: 16px 0 32px 0;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-family: -webkit-body;
    &.date {
        .desc--inner {
            border-bottom: 2px solid rgb(255, 255, 255);
            padding-bottom: 8px;
        }
    }
}

// article
.desc.date {
    opacity: 1;
    font-size: 0.8rem;
}

.article h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    /* font-weight: inherit; */
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

.article h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.article p {
    font-size: 1rem;
    line-height: 1.9rem;
    margin-bottom: 24px;
}

.article h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgba(120,120,120,0.8);
}

.article ul, .article ol {
    padding-left: 24px;
    list-style-type: square;
    /* list-style-position: inside; */
}

.article strong {
    display: inline-block;
    margin: 0 2px;
    color: rgba(180,80,80,1);
}

.article img.article--img {
    width: 100%;
    margin: 0 0 16px 0;
}

p.article--desc {
    font-size: 0.8rem;
    opacity: 0.8;
    margin: -8px 0 16px 0;
    line-height: 1.3rem;
}
