// reset
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
// basic
body, html {
    margin: 0;
    font-family: YuGothic, sans-serif;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.03);
    color: #222;
}

// variables
$width-mdl-pc: "(min-width:840px)";
$width-mdl-not-pc: "(max-width:839px)";
$width-wide: "(min-width:700px)";
$width-not-wide: "(max-width:699px)";
$width-not-tablet: "(min-width: 550px)";
$width-tablet: "(max-width: 549px)";
$width-mobile: "(max-width: 449px)";

// utility

@media #{$width-tablet}{
  .hide-mobile{ display: none !important; }
  .show-mobile{ display: inherit !important; }
}

@media #{$width-not-tablet}{
  .hide-not-mobile{ display: none !important; }
  .show-not-mobile{ display: inherit !important; }
}

@media #{$width-not-wide}{
  .hide-not-wide{ display: none !important; }
  .show-not-wide{ display: inherit !important; }
}

// animation
// @keyframes ripple{
//   from {
//     opacity:1;
//   }
//   to {
//     transform: scale(2);
//     opacity:0;
//   }
// }
@keyframes showTitle {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


// layout

.content-center {
  margin: 0 12%;
  &.narrow {
    max-width: 700px;
    margin: 0 auto;
  }
}
.content-center-mobile {
  margin: 0 8%;
}

.mdl-layout {
    perspective: 1000px;
    perspective-origin: top;
}

.mdl-layout__drawer {
  & > .mdl-layout-title {
    font-family: 'Source Code Pro';
    font-weight: bold;
    padding-left: 0;
    text-align: center;
  }
  .mdl-navigation {
    padding-top: 0px;
  }
  .mdl-tabs__tab {
    font-size: 0.7rem;
    text-transform: none;
    padding: 0 20px;
  }
  .drawer--section-title {
      font-size: 0.8rem;
      padding: 8px 16px;
  }

  // indexのdrawerのみ
  div#drawer_archives {
    .mdl-navigation__link {
      padding: 0;
    }
    ul {
      padding-left: 0;
      margin: 0;
    }
    a {
      color: #757575;
      text-decoration: none;
      padding: 16px;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

// header共通処理
header.mdl-layout__header.custom {
  .toggle-menu-container-bottom {
      transform: rotate(45deg);
      transition: all 0.3s;
      i {
        font-size: 1.3rem;
        vertical-align: super;
      }
      &.opened {
        transform: rotate(0);
        transition: all 0.3s;
      }
  }
}

// mobileではヨコいっぱいに広がる
@media #{$width-mobile} {
  .content-center {
    margin: 0;
    &.narrow {
      margin: 0;
    }
  }
  .mdl-grid {
    padding: 0;
    width: 100%;
  }
}
@media#{$width-not-wide}{
  .mdl-cell {
    margin: 8px 0;
    width: 100% !important;
  }
}

@media #{$width-not-tablet} {
  .index {
    // .mdl-layout__drawer,
    .mdl-layout__header{
      position: absolute;
      top:-64px;
      height: 56px;
    }
    .mdl-layout__drawer-button {
      display: none;
    }
  }
}

@media #{$width-tablet}{
  .index {
    .mdl-layout__header-row {
     position: absolute;
     top: -40px;
     width: 100%;
   }
  }
}

.mdl-layout__header.custom {
    background-color: #F1F1F1;
    color: #555;
    box-shadow: none;
    .mdl-layout-title a{
        font-family: 'Source Code Pro';
        font-weight: bold;
    }
    .mdl-navigation__link {
        color: #555;
        text-align: center;
        height: 50px;
        font-family: 'Source Code Pro';
        font-weight: 600;
        opacity: 0.6;
        &:hover {
            color: #E91E63;
            transition: color 0.5s ease;
            &::after {
                border-color: #E91E63;
                transition: border-color 0.5s;
            }
        }
    }
    .mdl-layout__header-row a {
      color: #555;
      text-decoration: none;
    }
    .mdl-layout__drawer-button {
        margin: -16px 0 0 24px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.6) !important;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
        transition: box-shadow 0.3s;

        i.material-icons {
            color: rgba(255,255,255,0.6) !important;
            line-height: 40px;
        }

        &:hover {
            box-shadow: 0 6px 8px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
            .material-icons {
               color: #fff !important;
               transition: all 0.3s;
           }
        }
    }
}
@media#{$width-mobile}{
  .mdl-layout__header.custom {
    position: absolute;
    bottom: 16px;
    background-color: transparent;
    .mdl-layout__header-row {
      display: none;
    }
  }
}

@media #{$width-not-tablet} {
  .index header.mdl-layout__header.custom {
      .mdl-navigation.hide-mobile {
          height: 40px;
          min-height: 40px;
      }
      .mdl-navigation__link {
          line-height: 45px;
      }
      .mdl-layout-title.left_align {
          margin-left: -40px;
      }
  }
}

@media #{$width-tablet}{
  .index {
    .mdl-layout-title {
      text-align: center;
      width: calc(100% - 48px);
    }
    .mdl-layout__header-row,
    .mdl-layout__drawer-button,
    .mdl-layout__header {
        height: 40px !important;
        min-height: 40px !important;
        font-size: 0.5rem;
    }
    .mdl-layout-title {
      font-size: 1.2rem;
    }
  }
}

footer {
    margin-top: 32px;
    padding: 32px 16px;
    position: relative;
    .mdl-mini-footer__link-list .sns-button {
      margin-right: 4px;;
    }
    .mdl-mini-footer__link-list li:last-child {
        margin-right: 0;
    }
    .mdl-logo {
      font-family: 'Source Code Pro';
      font-weight: bold;
    }
    .copyright {
        position: absolute;
        bottom: 8px;
        left: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.6;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}


// bigbox
.bigbox{
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('http://farm6.static.flickr.com/5082/5334850250_802d0bc1f2_b.jpg') center / cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center; // 子要素のヨコ揃え
  align-items: center; // 子要素のタテ揃え

  .overall {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: rgb(0,0,0);
    opacity: 1.0;
  }

  .bigbox-inner {
    width: 80%;
    max-width: 500px;
    text-align: center;
    display: none;
  }
}


.bigbox-mobile {
    text-align: center;
    padding: 8px 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    .icon {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
    .bigbox-mobile--inner {
        display: inline-block;
        width: 100%;

        .title {
            font-size: 20px;
            font-family: 'Source Code Pro';
            font-weight: bold;
            color: #222;
            text-align: left;
            line-height: 40px;
            width: 100%;
            margin: 0;
        }
    }
}


// card

.card {
  margin-bottom: 1px;
  min-height: inherit;
  min-width: inherit;
  width: initial;
  text-decoration: none;
  display: block;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 12px 7px -4px rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  .card-wrapper{
    margin-bottom: 15px;
  }
  .mdl-card__media {
      height:135px !important;
      position: relative;
      padding: 8px 24px;
      .mdl-card__media--inner {
          position: absolute;
          bottom: 12px;
          width: calc(100% - 48px);
      }
      .title {
          font-size: 1.3rem;
          color: rgba(255,255,255,0.88);
          line-height: 2rem;
          letter-spacing: 2px;
          max-height: 60px;
          white-space: inherit;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      .tags {
          margin-left: -6px;
      }
      .desc {
        margin: 0;
        .desc--inner {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
  }
  .mdl-card__supporting-text {
    .mini_meta {
      display: block;
      margin-bottom: 3px;
      i.material-icons {
         font-size: 1rem;
         vertical-align: text-bottom;
         margin-right: 4px;
      }

    }
    .sns-counts {
      float: right;
    }
    .sns-count {
      border: 1px solid;
      padding: 4px 0 4px 4px;
      width: 10px;
      font-size: 0.7rem;
      height: 10px;
      text-align: center;
      line-height: 0.7rem;
      vertical-align: baseline;
      &:after {
        content: '23';
        color: white;
        padding: 4px;
        margin-left: 6px;
      }
      &.hatebu {
        color: #4BA5DA;
        border-color:#4BA5DA;
        &:after {
          background-color: #4BA5DA;
        }
      }
      &.facebook {
        color: #337FCE;
        border-color:#337FCE;
        &:after {
          background-color: #337FCE;
        }
      }
      &.pocket {
        color: #ED4055;
        border-color:#ED4055;
        &:after {
          background-color: #ED4055;
        }
      }
    }
  }
}

@media #{$width-tablet}{
  .cards {
    [class*='mdl-cell--']{
      width: 100% !important;
      .mdl-card.card {
        width: 100%;
      }
    }
  }
}

// tag
.tag {
    display: inline-block;
    margin: 2px;
    background-color: #eee;
    text-decoration: none;
    font-family: YuGothic;
    &.tag--sm {
        padding: 0px 4px;
        font-size: 0.8rem;
    }
    &.tag--md {
        padding: 4px 8px;
        font-size: 1rem;
    }
    &.tag--transparent-white {
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.83);
        color: rgba(255,255,255,0.83);
        &:hover {
            background-color: rgba(255,255,255,0.83);
            color: rgba(0,0,0,0.83);
            transition: background-color 0.5s, color 0.5s;
        }
        &.tag--no-hover:hover {
          background-color: inherit;
          color: rgba(255,255,255,0.83);
          transition: none;
        }
    }
    &.tag--transparent-black {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.83);
      color: rgba(0, 0, 0, 0.83);
      &:hover {
          background-color: rgba(50, 50, 50, 0.83);
          color: #fff;
          transition: background-color 0.5s, color 0.5s;
      }
    }
    &.tag--no-border {
        border: none;
    }
}

// menu 詳細
.menu-container-bottom {
    position: absolute;
    top: 56px;
    width: 100%;
    transform: rotateX(-90deg);
    transition: transform 0.5s, opacity 0.5s;
    transform-origin: top;
    backface-visibility: hidden;
    z-index: 100;
    opacity: 0;
    background-color: #F1F1F1;
    .mdl-list {
       margin: 0;
       .mdl-list__item {
           padding: 0;
       }
    }
    &.show {
        transform: rotateX(0deg);
        opacity: 1;
        transition: all 0.5s;
    }
    .menu-container-bottom--right {
        padding: 2px 16px 16px;
        box-sizing: border-box;
    }
    .search {
      margin-bottom: 16px;
    }
    .mdl-tabs__panel {
        padding: 16px 32px;
    }
    // indexのdrawerのみ
    #menu_archives {
      padding: 0;
      .mdl-navigation__link {
        padding: 0;
      }
      ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
      }
      a {
        color: #757575;
        text-decoration: none;
        padding: 16px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
}




.search {
  display: block;
  .search-icon {
    right: 0;
  }
  .mdl-textfield {
    width: 100%;
  }
}

.with-image {
  a.mdl-navigation__link {
    padding: 16px !important;
    font-size: 0.9rem;
    color: #fff !important;
    &:hover {
      opacity: 0.9;
      transition: all 0.2s;
    }
  }
}


// pager
.pager-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: 16px auto;
    .page-numbers {
        width: 30px;
        height: 30px;
        background-color: #555;
        text-align: center;
        text-decoration:none;
        color: white;
        line-height: 30px;
        border-radius: 50%;
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
        transition: box-shadow 0.2s;
        &.current {
            opacity: 0.5;
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
        &:hover {
            box-shadow: 0 3px 4.5px 0 rgba(0,0,0,.12),0 3px 3px 0 rgba(0,0,0,.24);
            transition: all 0.2s;
        }
        .material-icons {
          line-height: 30px;
        }
    }
}

// page別スタイル
// show stype
.mdl-layout.show {
  header.custom {
      background-color: transparent;
      position: absolute;
      left:-80px;
      bottom: 0;
      min-height: 45px;

      .mdl-layout__drawer-button {
          margin: -16px 0 0 24px;
          height: 40px;
          width: 40px;
          line-height: 44px;

          border-radius: 50%;
          background-color: rgba(0,0,0,0.8);
          box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
          transition: box-shadow 0.3s;

          .material-icons {
              color: rgba(255,255,255,0.6) !important;
          }

          &:hover {
              box-shadow: 0 6px 8px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
              .material-icons {
                 color: #fff !important;
                 transition: all 0.3s;
             }
          }
      }
  }
  .mdl-layout__drawer {
    .sns-buttons {
        display: flex;
        padding: 0 16px;
        margin-bottom: 16px;
        margin-left: -9px;
    }
    .mdl-textfield.thin {
        padding: 8px 0;
        .mdl-button {
            bottom: 8px;
        }
        .mdl-textfield__label {
            top: 12px;
            &:after {
              bottom: 8px;;
            }
        }
    }
    .mdl-navigation__link.hatena-link {
        color: #222;
        line-height: 1.2rem;
        position: relative;
        text-align: left;
        .hatena-count {
            position: absolute;
            bottom: 8px;
            right: 24px;
        }
    }
    .toHatebu {
      padding: 8px;
      color: inherit;
      display: block;
      margin-bottom: 8px;
      text-decoration: none;
      line-height: 23px;
      transition: color 0.3s;
      &:hover {
        color: #E43873;
        transition: all 0.3s;
      }
      .material-icons {
        vertical-align: bottom;
      }
    }
  }

  // bigbox
  .bigbox{
    position: relative;
    display: block;
    .bigbox-inner {
      display: block;
      position: absolute;
      bottom: 0;
      max-width: calc(100% - 32px);
      padding: 32px 24px;
      text-align: left;
    }

    .title {
        color: rgb(255,255,255);
        font-family: YuGothic;
        letter-spacing: 1px;
        font-weight: bold;
        &:after {
            display: none;
        }
    }
    .tags {
      padding-left: 0;
      margin: 16px 0 0 -5px;
    }
    .date {
      color: rgba(255, 255, 255, 0.83);
      font-family: monospace;
      letter-spacing: 1px;
      font-size: 0.6rem !important;
    }
  }

  @media #{$width-mobile}{
    .tags {
      margin-left: -6px;
    }
  }
  @media #{$width-tablet}{
    .title {
      font-size: 1.3rem;
    }
  }
  @media #{$width-not-tablet}{
    .bigbox .title {
      font-size: 2rem;
      max-width: 70%;
    }
    .bigbox-inner .bigbox-inner {
      bottom: 50px !important;
    }
  }

  .related-title {
    font-size: 1.4rem;
    margin-top: 16px;
    padding-left: 24px;
  }
  .related{
    width: 100%;
    padding: 0;
    position: relative;

    .before, .after {
      .material-icons {
        position: absolute;
        top: 65px;
        font-size: 2rem;
      }
    }
    .before { // 前後の記事への導線
      .material-icons {
          left: -24px;
          transition: left 0.3s;
      }
      &:hover i.material-icons {
          left: -32px;
          transition: all 0.3s;
      }
    }
    .after {
      .material-icons {
          right: -24px;
          @media#{$width-mdl-not-pc}{ top: calc(65px + 135px + 14px);}
          transition: right 0.3s;
      }
      &:hover i.material-icons {
          right: -32px;
          transition: all 0.3s;
      }
    }

    .card{
      min-height: inherit;
      min-width: inherit;
      width: initial;
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
    .mdl-card__media {
        .title {
            margin-bottom: 4px;
            position: relative;
            bottom:0;
            left:0;
        }
    }
  }
}

// snsボタン
.sns-buttons {
    float: right;
}
.sns-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: color 0.3s;
    font-size: 1.4rem;
    margin-right: 8px;
    a {
      color: inherit;
    }
    &.hatena a{
        content: "B!";
        font-family: Verdana;
        font-weight: bold;
        text-decoration: none;
    }
    &.black {
        color: rgba(0,0,0,0.5);
    }
    &.white {
      color: #fff;
    }
    &:hover {
        color: #E43873;
        transition: all 0.3s;
    }
}
.bigbox-inner-upper {
    .site-logo {
        float: left;
        .logo {
            color: #fff;
            padding-bottom: 8px;
            font-size: 1rem;
            font-family: 'Source Code Pro';
            .logo-inner {
              color: #fff;
              text-decoration:none;
              opacity: 1;
              transition: opacity 0.3s;
              &:hover {
                opacity: 0.5;
                transition: opacity 0.3s;
              }
            }
        }
    }
}
@media #{$width-tablet}{
  .bigbox-inner-upper {
    padding: 32px 24px;
  }
}
@media #{$width-not-tablet}{
  .bigbox-inner-upper {
    padding: 32px 16px 0;
  }
}
@media (min-width: 900px){
  .bigbox-inner,
  .bigbox-inner-upper {
    margin: 0 12%;
  }
}



// 汎用パーツ
.splitter {
    color: white;
    color: rgba(255,255,255,0.83);
    font-size: 0.7rem;
    padding: 0 8px;
}
.desc {
    color: rgb(255,255,255);
    opacity:1;
    margin: 16px 0 32px 0;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-family: -webkit-body;
    &.date {
      opacity: 1;
      font-size: 0.8rem;
        .desc--inner {
            border-bottom: 2px solid rgb(255, 255, 255);
            padding-bottom: 8px;
        }
    }
}

// article
.article {
  // artivle__body本文
  .article__body {
      padding-bottom: 16px;
      &:after {
          margin-bottom: 24px;
      }
      h2 {
          font-size: 1.8rem;
          @media #{$width-tablet}{
            font-size: 1.6rem;
          }

          margin-bottom: 16px;
          font-weight: bold;
          margin-top: 48px;
          &:first-child {
            margin-top: 24px;
          }
      }
      h3 {
          font-size: 1.4rem;
          margin-bottom: 8px;
      }
      h4 {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 8px;
          color: rgba(120,120,120,0.8);
      }
      p {
          font-size: 1rem;
          line-height: 1.9rem;
          margin-bottom: 24px;
      }
      strong {
          color: #E64C4C;
      }
      ul, ol {
          padding-left: 24px;
          list-style-type: square;
          li {
            margin-bottom: 8px;
          }
      }
      img.article--img {
          width: 100%;
          height: auto;
          margin: 0 0 16px 0;
      }
      .article--desc { // 画像下に付与するdescription
          font-size: 0.8rem;
          opacity: 0.8;
          margin: -8px 0 16px 0;
          line-height: 1.3rem;
      }
      /*
      <div class="article__book-container">
        <img class="article__book__img" src="./images/sample_book.jpg" alt="">
        <div class="article__book-inner">
          <span class="article__book__title">さよなら、インタフェース -脱「画面」の思考法さよなら、インタフェース -脱「画面」の思考法</span>
          <span class="article__book__author">ゴールデン・クリシュナ</span>
          <span class="article__book__desc">説明文...</span>
        </div>
      </div>
      */
      @media(min-width: 611px){
        .article__book-container {
            height: 200px;
            overflow: hidden;
            margin: 16px 0 32px;
            display: block;
            color: inherit;
            transition: opacity 0.3s;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
              transition: all 0.3s;
              cursor: pointer;
            }

            .article__book__img {
                margin-right: 20px;
                float: left;
                max-width: 25%;
            }
            .article__book-inner {
                float: left;
                width: calc(70% - 20px);
                text-overflow: ellipsis;

                .article__book__title {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 8px;
                    text-decoration: underline;
                    color: #E64C4C;
                }
                .article__book__author {
                    display: block;
                    margin-bottom: 16px;
                    font-size: 0.8rem;
                }

                .article__book__desc {
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    line-height: 1.8rem;
                    max-height: 100px;
                    font-size: 0.9rem;
                }
            }
        }
      }
      @media(max-width: 610px){
        .article__book-container {
          overflow: hidden;
          margin: 16px 0;
          display: block;
          color: inherit;
          transition: opacity 0.3s;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
            transition: all 0.3s;
            cursor: pointer;
          }
          .article__book__img {
            margin: 0 auto;
            display: block;
            max-height: 200px;
            margin-bottom: 8px;
          }
          .article__book-inner {
              .article__book__title {
                display: block;
                font-weight: bold;
                margin-bottom: 8px;
                text-decoration: underline;
                color: #E64C4C;
              }
              .article__book__author {
                display: block;
                margin-bottom: 8px;
                font-size: 0.8rem;
              }
              .article__book__desc {
                  max-height: 58px;
                  display: block;
                  text-overflow: ellipsis;
                  font-size: 0.9rem;
              }
          }
        }
      }
      // ここまでbook-container


      /*
      <div class="code-wrapper">
        <div class="code-inner">
          <span class="lang-label">Ruby</span>
          <pre><code class="ruby hljs">
            // ここにcode本文
          </code></pre>
        </div>
      </div>
      */
      .code-wrapper {
          width: calc(100% + 1000px);
          margin: 12px -500px;
          margin-bottom: 12px;
          padding: 8px 0 24px;
          background-color: rgb(11, 37, 47);
          color: #fff;
          font-family: 'Source Code Pro';
          .hljs {
            background-color: inherit;
            font-family: 'Source Code Pro';
            br {
              display: none;
            }
          }
          .code-inner {
              position: relative;
              max-width: 700px;
              margin: 0 auto;
              width: 100vw;
              pre {
                  padding: 0 24px;
                  margin: 0;
              }
              .lang-label {
                  padding: 1px 6px;
                  width: initial;
                  display: inline-block;
                  position: absolute;
                  top: -16px;
                  left: 24px;
                  background-color: #C11111;
                  color: white;
                  letter-spacing: 1px;
                  font-size: 0.9rem;
              }
          }

      }

  }
  // article--footer下部関連情報
  .article__footer {

    .article__section {
        position: relative;
        margin-bottom: 24px;
        .article__section--title {
            font-size: 1.2rem;
            font-weight: bold;
            color: rgba(120, 120, 120, 0.8);
            display: inline-block;
            width: 140px;
        }
        .article__section--line {
            display: inline-block;
            border-top: 1px solid rgba(200,200,200,0.6);
            position: absolute;
            top: 9px;
            right: 0;
            width: calc(100% - 148px - 45px);
            margin-right: 52px;
        }
        .article__section--text {
            float: right;
            display: inline-block;
        }
    }
    .article__section.sns-area {
      margin-bottom: 40px;
      & > * {
        margin-right: 8px;
        margin-top: 8px;
        vertical-align: bottom;
        display: inline-block;
      }
    }
  }

}

// article--footer内のcomment
.comment-input {
    padding: 0;
    margin-top: 32px;
    position: relative;
    .reply-to-author {
        font-size: 0.8rem;
        margin-bottom: 4px;
        display: none;
        .reply-to-author--name {
            opacity: 1 !important;
            font-weight: bold;
            font-size: 1rem;
        }
    }
    .mdl-button{
        position: absolute;
        right: 0;
        bottom: 16px;
    }
    .mdl-textfield{
       padding: 0;
       width: calc(100% - 48px);
       .mdl-textfield__input {
         font-size: 1rem;
       }
   }
    .mdl-textfield__label {
        top: 4px;
        &:after {
            bottom: 0;
        }
    }
}

.show-comments {
    margin-right: -10px;
    margin-top: -2px;
    color: #E64C4C;
    transition: color 0.3s;
    perspective: 1000px;
    &:hover {
        opacity: 0.6;
        transition: all 0.3s;
    }
    .material-icons {
        vertical-align: middle;
        transform: rotateX(0);
        transition: transform 0.3s;
    }
    &.open .material-icons {
      transform: rotateX(-180deg);
      transition: all 0.3s;
    }
}
.comments_area {
  position: relative;
  display: none;

  .comments {
    padding-left: 0;
    margin-bottom: 0;
    .mdl-list__item-primary-content,
    .mdl-list__item--three-line {
      height: inherit;
    }
    .mdl-list__item {
      align-items: inherit;
    }
    .mdl-list__item-avatar {
      font-size: 2.5rem;
      text-align: center;
      background-color: #C8C2C2;
    }
    .mdl-list__item--three-line {
      padding-left: 0;
    }
    .mdl-list__item-text-body {
      color: inherit;
    }
    .mdl-list__item-secondary-content {
      margin-top: 17px;
    }
    .author {
      font-size: 0.9rem;
      opacity: 0.6;
    }
    .child {
      padding-left: 40px;
      .mdl-list__item.mdl-list__item--three-line {
        padding-right: 0;
      }
    }
  }
}



// index topのanimation
.box{
  width: 100%;
  max-width: 500px;
  height: 100px;
  line-height: 110px;
  text-align: center;
  position: relative;
  overflow: hidden;
  #bigbox-title .typing{
     height: 100%;
     display: inline-block;
     font-family: 'Source Code Pro';
     font-weight: bold;
     white-space: pre;
     color: #fff;
     opacity: 1;
     @media#{$width-tablet}{
       font-size: 2rem;
       line-height: 2rem;
     }
     @media#{$width-not-tablet} and #{$width-not-wide}{
       font-size: 2.5rem;
       line-height: 2.5rem;
     }
     @media#{$width-wide}{
       font-size: 3rem;
       line-height: 3rem;
     }
     &.on-edit {
       border-bottom: 3px solid #fff;
       padding-bottom: 7px;
       position: relative;
       background-color: rgba(255,255,255,0.2);
       transform: translateY(-5px);
       &::after {
           content: "";
           display: inline-block;
           @media#{$width-tablet}{
             height: 2rem;
           }
           @media#{$width-not-tablet} and #{$width-not-wide}{
             height: 2.5rem;
           }
           @media#{$width-wide}{
             height: 3rem;
           }
           border-right: 3px solid #fff;
           position: absolute;
           right: -8px;
           top: 0;
           animation: showTitle 1s ease-in 0s;
           animation-iteration-count: infinite;
       }
     }
  }


  .bd {
    div{
      background: #FFF;
      position:absolute;
      -webkit-transition:all 0.3s;
      transition:all 0.3s;
    }
    .bdT{
      width: 0;
      height:4px;
      top:0;
      left:0;
    }
    .bdB{
      width: 0;
      height:4px;
      bottom:0;
      right:0;
    }
    .bdR{
      height:0;
      width :4px;
      right:0;
      top:0;
    }
    .bdL{
      height:0;
      width :4px;
      left:0;
      bottom:0;
    }
  }

  &.loaded {
    &:hover {
        transform: translate(-3px, -3px);
        cursor: pointer;
    }
    .bdT {
        width: 100%;
        transition: all 0.3s;
    }
    .bdR {
        height: 100%;
        transition: all 0.3s 0.3s;
    }
    .bdB {
        width: 100%;
        transition: all 0.3s;
    }
    .bdL {
        height: 100%;
        transition: all 0.3s 0.3s;
    }
  }
}
